html, body, #game
  width: 100%
  height: 100%
  overflow: hidden

#game
  background: #111

#interface
  position: absolute
  top: 0
  width: 100%
  height: 60px
  
  .toggle-states
    background: rgba
    position: absolute
    width: 200px
    height: 100%
    right: 0
    
    text-align: right
    padding: 10px