@import 'nib'

html, body, #game
  width: 100%
  height: 100%
  overflow: hidden

#game
  background: #111

#interface
  position: fixed
  top: 0
  width: 100%
  height: 100%
  
  .toggle-states
    position: absolute
    top: 0
    width: 100%
    height: 100px
    
    text-align: right
    padding: 10px
  
  .reticle
    position: absolute
    width: 30px
    height: @width
    
    left: 50%
    top: 50%
    transform: translate3d(-50%, -50%, 0)
    
    border: 2px solid #ddd
    border-radius: 999px
    
    opacity: 0
    transition: opacity .3s ease
    
    &.active
      opacity: 1