<head>
  <title>NEBUL4</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  {{#if currentUser}}
    {{> game}}
  {{else}}
    <div id="interface">
      <div class="login-items">
        {{> loginButtons}}
      </div>
    </div>
  {{/if}}
</body>

<template name="game">
  <div id="game"></div>
  <div id="interface">
    <div class="login-items">
      {{> loginButtons}}
    </div>
    <div class="toggle-states">
      <div class="spacebar">spacebar: {{ spacebarState }}</div>
      <div class="mousex">mouse.x: {{ mouseXState }}</div>
      <div class="mousey">mouse.y: {{ mouseYState }}</div>
      <div class="acceleration">{{ acceleration }}<span> KM/s</span></div>
    </div>
    <div class="reticle {{ reticleState }}"></div>
  </div>
</template>
